/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/*colori */
:root {
  --brand-green: #003D32;
  --brand-brown: #C89F81;
  --brand-beige: #F2EBD1;
  --brand-gray: #9AA7A9;
  --brand-sage: #A9B9AF;
  --brand-pale: #E4F4F3;
  --brand-black: #1A1A1A;
  
  --font-sans: "Source Sans Pro", sans-serif;
  --font-display: "Poppins", sans-serif;
  
  --nav-height: 80px;
}

/*settings */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: var(--nav-height);
  background-color: var(--brand-beige);
  color: var(--brand-green);
  font-family: var(--font-sans);
  line-height: 1.5;
}

h1, h2, h3, h4, .font-display {
  font-family: var(--font-display);
}

/************/
/*NAVBAR */
/************/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 1000;
  background: var(--brand-beige);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.nav-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: grid;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 30px;
}

.nav-container a {
  text-decoration: none;
  color: var(--brand-green);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-container a:hover { 
    color: var(--brand-brown);
    transform: translateY(-3px);
 }


/***************/
/*HERO SECTION */
/***************/
.hero {
  position: relative;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: var(--brand-beige);
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-img, .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-img img {
  filter: grayscale(0.2);
  animation: zoomHero 12s infinite alternate ease-in-out;
}

@keyframes zoomHero {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}


.overlay-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 61, 50, 0.3), transparent);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1400px;
  padding: 20px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  background: var(--brand-beige);
  color: var(--brand-green);
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  border-radius: 40px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--brand-brown);
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.3; transform: scale(1.2); }
}

.hero h1 {
  font-size: clamp(40px, 8vw, 120px);
  line-height: 0.9;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.hero h1 span { color: var(--brand-brown); }

.hero p {
  font-size: clamp(18px, 3vw, 32px);
  font-weight: 600;
  margin-top: 25px;
  color: var(--brand-pale);
}

/************/
/*COUNTDOWN */
/************/

.countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.time-box {
  background: var(--brand-beige);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  border-bottom: 5px solid var(--brand-brown);
}

.time-box span {
  font-size: 50px;
  font-weight: 900;
  color: var(--brand-green);
  display: block;
  line-height: 1;
}

.time-box p {
  margin: 5px 0 0;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  color: var(--brand-brown);
  text-transform: uppercase;
}

/**********/
/*BOTTONI */
/**********/
.hero-buttons {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.btn-primary, .btn-secondary {
  padding: 18px 35px;
  width: 300px;
  border-radius: 12px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-primary {
  border: 2px solid rgba(255,255,255,0.4);
  background: var(--brand-green);
  color: var(--brand-beige);
}

.btn-primary:hover {
  background: var(--brand-brown);
  transform: translateY(-3px);
}

.btn-primary img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.btn-secondary {
  border: 2px solid rgba(255,255,255,0.4);
  background: var(--brand-green);
  color: var(--brand-beige);
}

.btn-secondary:hover {
    background: var(--brand-brown);
    transform: translateY(-3px);
}

/*******************/
/*MEDAGLIA SECTION */
/*******************/
.cta-medal {
  background-color: var(--brand-brown);
  padding: 80px 24px;
  position: relative;
  overflow: hidden;
  color: var(--brand-beige);
}

.cta-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .cta-container { flex-direction: row; }
}

.cta-content {
  display: flex;
  align-items: center;
  gap: 30px;
}



.medal-img{
    animation: rotation 4s infinite alternate ease-in-out;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
  }

@keyframes rotation {
    0%, 100% { transform: scale(1); }
  50% {  transform: scale(1.2); }
}

.medal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(-10deg);
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.2));
}

.cta-text h2 {
  font-size: clamp(24px, 5vw, 36px);
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.cta-text p {
  margin: 5px 0 0;
  opacity: 0.8;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn-buy {
  border: 2px solid rgba(255,255,255,0.4);
  background-color: var(--brand-green);
  color: var(--brand-beige);
  padding: 20px 40px;
  border-radius: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
}

.btn-buy:hover { transform: scale(1.05); background: var(--brand-black); }

/************/
/*DECORATIONS */
/************/

.bg-decoration {
  position: absolute;
  top: -50px;
  right: -50px;
  opacity: 0.05;
  pointer-events: none;
}

.bg-decoration svg {
  width: 400px;
  height: 400px;
  fill: var(--brand-green);
  transform: rotate(-15deg);
}

/*******************/
/*SCROLL INDICATOR */
/*******************/

.scroll-indicator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.mouse {
  width: 26px;
  height: 40px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 6px;
}

.wheel {
  width: 3px;
  height: 7px;
  background: white;
  border-radius: 2px;
  animation: mouseScroll 2s infinite;
}

@keyframes mouseScroll {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0; }
}

/*******************/
/*MISSION */
/*******************/

.missione{
    background:#f4f1e8;
    padding:120px 20px;
    }
    
    .missione-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;
    align-items:center;
    }
    
    /* immagine */
    
    .img-wrapper{
    position:relative;
    }
    
    .img-wrapper img{
        width:100%;
        height:650px;
        border-radius:40px;
        box-shadow:0 20px 50px rgba(0,0,0,0.25);
        border:8px solid white;
        object-fit:cover;
        }
    
    /* icona */
    
    .missione-icon{
    position:absolute;
    bottom:-40px;
    right:-40px;
    width:120px;
    height:120px;
    background:#1f4d3b;
    border-radius:25px;
    display:flex;
    align-items:center;
    justify-content:center;
    transform:rotate(-6deg);
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
    border:8px solid #f4f1e8;
    }
    
    /* testo */
    
    .missione-label{
    color:#8a5a3b;
    font-weight:900;
    letter-spacing:4px;
    font-size:14px;
    display:block;
    margin-bottom:20px;
    }
    
    .missione-text h2{
    font-size:60px;
    font-weight:900;
    color:#1f4d3b;
    margin-bottom:40px;
    line-height:1;
    }
    
    .missione-text h2 span{
    color:#8a5a3b;
    font-style:italic;
    }
    
    /* items */
    
    .missione-item{
    margin-bottom:40px;
    }
    
    .missione-item h5{
    font-size:22px;
    font-weight:900;
    color:#1f4d3b;
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:10px;
    }
    
    .number{
    background:#8a5a3b;
    color:#f4f1e8;
    width:40px;
    height:40px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:900;
    }
    
    .missione-item p{
    color:#1f4d3b;
    font-size:18px;
    line-height:1.6;
    }
    
    /* responsive */
    
    @media (max-width:900px){
    
    .missione-container{
    grid-template-columns:1fr;
    }
    
    .missione-text h2{
    font-size:40px;
    }
    
    }

/*******************/
/*ETICA */
/*******************/

.etica{
    background:#f4f1e8;
    padding:10px 10px;
    text-align:center;
    }
    
    .etica-container{
    max-width:1200px;
    margin:auto;
    }
    
    /* icona */
    
    .etica-icon{
    margin-bottom:30px;
    animation:heartPulse 2s infinite;
    }
    
    @keyframes heartPulse{
    0%{transform:scale(1)}
    50%{transform:scale(1.1)}
    100%{transform:scale(1)}
    }
    
    /* titolo */
    
    .etica h2{
    font-size:60px;
    font-weight:900;
    color:#1f4d3b;
    margin-bottom:20px;
    letter-spacing:-1px;
    }
    
    /* linea */
    
    .divider{
    width:90px;
    height:4px;
    background:#8a5a3b;
    margin:30px auto;
    }
    
    /* testo */
    
    .etica p{
    font-size:24px;
    font-style:italic;
    font-weight:700;
    color:#1f4d3b;
    line-height:1.6;
    }
    
    /* responsive */
    
    @media (max-width:768px){
    
    .etica h2{
    font-size:40px;
    }
    
    .etica p{
    font-size:20px;
    }
    
    }

/*******************/
/*ARCHIVIO */
/*******************/

.archivio{
    background:#1f4d3b;
    color:#f4f1e8;
    padding:120px 20px;
    }
    
    /* header */
    
    .archivio-header{
    text-align:center;
    margin-bottom:80px;
    }
    
    .archivio-header h2{
    font-size:70px;
    font-weight:900;
    margin-bottom:20px;
    }
    
    .archivio-header p{
    max-width:700px;
    margin:auto;
    font-weight:700;
    letter-spacing:3px;
    text-transform:uppercase;
    opacity:0.7;
    }
    
    /* grid */
    
    .archivio-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: auto;
    }
    
    .archivio-item {
        background-color: var(--brand-brown);
        border-radius: 25px;
        overflow: hidden;
        border: 4px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        height: 250px;
        display: flex;
        align-items: center;    
        justify-content: center;
    }
    
    .archivio-grid p {
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0.7;
        margin: 0; 
        text-align: center; 
    }

    .archivio-grid a {
        text-decoration: none;
        color: var(--brand-beige);
    }
    
    .archivio-item:hover{
    transform:scale(1.1);
    opacity:1;
    filter:grayscale(0);
    }
    
    /* responsive */
    
    @media (max-width:900px){
    
    .archivio-grid{
    grid-template-columns:repeat(2,1fr);
    }
    
    .archivio-header h2{
    font-size:40px;
    }
    
    .download-box{
    flex-direction:column;
    text-align:center;
    }
    
    }

/*******************/
/*FOOTER */
/*******************/


    .footer{
        background: var(--brand-beige);
        padding:100px 20px 50px;
        border-top:1px solid rgba(31,77,59,0.1);
        }
        
        .footer-container{
        max-width:1200px;
        margin:auto;
        }
        
        .footer-grid{
        display:grid;
        grid-template-columns:2fr 1fr 1fr;
        gap:80px;
        margin-bottom:80px;
        }
        
        /* logo */
        
        .footer-logo{
        display:flex;
        align-items:center;
        gap:15px;
        margin-bottom:20px;
        }
        
        .footer-logo img{
        height:45px;
        }
        
        .footer-logo h3{
        font-weight:900;
        color:#1f4d3b;
        }
        
        /* testo */
        
        .footer-about p{
        color:rgba(31,77,59,0.7);
        font-weight:700;
        line-height:1.6;
        margin-bottom:30px;
        }
        
        /* social */
        
        .footer-social{
        display:flex;
        gap:15px;
        }
        
        .footer-social a{
        width:70px;
        height:70px;
        background: var(--brand-green);
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:15px;
        transition:0.3s;
        }
        
        .footer-social a img{
        width:30px;
        }
        
        .footer-social a:hover{
        background:#8a5a3b;
        }
        
        /* menu */
        
        .footer h4{
        color:#8a5a3b;
        font-size:14px;
        letter-spacing:3px;
        margin-bottom:25px;
        text-transform:uppercase;
        }
        
        .footer ul{
        list-style:none;
        padding:0;
        }
        
        .footer ul li{
        margin-bottom:12px;
        }
        
        .footer ul a{
        text-decoration:none;
        color:rgba(31,77,59,0.7);
        font-weight:800;
        font-size:12px;
        letter-spacing:2px;
        text-transform:uppercase;
        }
        
        .footer ul a:hover{
        color:#8a5a3b;
        }
        
        /* bottom */
        
        .footer-bottom{
        border-top:1px solid rgba(31,77,59,0.1);
        padding-top:30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-wrap:wrap;
        gap:20px;
        }
        
        .footer-bottom p{
        font-size:16px;
        letter-spacing:3px;
        text-transform:uppercase;
        color:rgba(31,77,59,0.4);
        }
        
        .footer-legal{
        display:flex;
        gap:25px;
        }
        
        .footer-legal a{
        text-decoration:none;
        font-size:16px;
        letter-spacing:3px;
        text-transform:uppercase;
        color:rgba(31,77,59,0.4);
        }
        
        .footer-legal a:hover{
        color:#1f4d3b;
        }
        
        /* responsive */
        
        @media(max-width:900px){
        
        .footer-grid{
        grid-template-columns:1fr;
        gap:50px;
        }
        
        .footer-bottom{
        flex-direction:column;
        text-align:center;
        }
        
        }